
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');

.hero-hero {
    min-height: 70vh;
    background: rgb(255, 255, 255) url(../images/hero-section-min.webp) center center no-repeat;
    background-size: cover;
    position: relative;
  }
  .hero-solicode {
    min-height: 100vh;
    background: #000 url(../solicode-hero-min.jpg) center center no-repeat;
    background-size: cover;
    position: relative;
  }
  /* .hero-visith {
    min-height: 100vh;
    background: #000 url(../images/portfolio/visithn.jpg) center center no-repeat;
    background-size: cover;
    position: relative;
  } */
/* .fav-icon {
  height: 20% !important;
  height: auto !important;
} */

  .box-overview {
    padding: 35px 47px;
}
.img-career{
  height: 423PX;
  PADDING-LEFT: 120PX;
}
.img-career2{
  height: 423PX;
  PADDING-LEFT: 85PX;
}

.h3 .content h3 {
  color: #F6B906 !important;
}
.solicode-p{
  color: #121D92;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}
.infotanger-p{
  color: #000;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}
.line{
  background-color: #121D92;
}


@media screen and (max-width: 768px) {
    .hero-hero {
        min-height: 33vh;
        background: rgb(255, 255, 255) url(../images/min-hero1-min.webp) center center no-repeat;
        background-size: cover;
        position: relative;
    }
    
  }
  .container-iframe {
    position: relative;
    width: 100%;
    overflow: hidden;
    padding-top: 56.25%; /* 16:9 Aspect Ratio */
  }
  
  .responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border: none;
  }
.p-general{
  margin-top: 25px;
  color: #121D92;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 2rem;
}

.h1{
  color: #F6B906;
  font-size: 7em;
  font-family: 'Italiana', serif;

}
  .h2{
    color: #121D92;
    font-family: 'Italiana', serif;
    font-size: 30px;
  }

  .hide-h1 {
    visibility: hidden !important;


    color: #fff !important;
  }