
  
  .hover-link {
   
    text-transform: uppercase !important;
    text-decoration: none !important;
    display: inline-block !important;
    position: relative !important;
    cursor: pointer !important;
  }
  
  #cursor {
    pointer-events: none;
    width: 3rem;
    height: 3rem;
    border: solid 1px rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    position: fixed;
    top: 0;
    left: 0;
    transition: 0.35s ease width, 0.35s ease height, 0.35s ease border,
      0.35s ease background;
    transform: translate(-50%, -50%);
  }
  
  #cursor.hover {
    width: 5rem;
    height: 5rem;
    border: solid 1px transparent;
    background: rgba(247, 116, 50, 0.678);
  }
  