/*----------------------


  Table of contents

  01. Header
  02. Navigation
  03. Hero
  04. The Grid (Portfolio & Blog)
  05. Grid Filters
  06. Boxes
  07. Blog
  08. Buttons
  09. Footer
  10. Forms
  11. Images
  12. Labels
  13. Lists
  14. Pagination

-----------------------*/
/*
  01. Header
*/
header {
    padding: 45px 0;
    position: relative;
    z-index: 4;
  }
  
  header .ion-ios-search-strong {
    font-size: 21px;
    float: right;
  }
  
  @media screen and (max-width: 992px) {
    header {
      padding: 30px 0 0;
      text-align: center;
    }
    header .search {
      position: fixed;
      top: -85px;
      left: 0;
      right: 0;
      -webkit-transition: all .3s;
      transition: all .3s;
    }
    header .search .btn {
      position: relative;
      top: 77px;
      right: 5px;
      -webkit-transition: all .3s;
      transition: all .3s;
    }
    header .search:hover, header .search:focus {
      top: -20px;
    }
    header .search:hover .btn, header .search:focus .btn {
      top: 0;
    }
  }
  
  @media screen and (max-width: 768px) {
    header {
      padding: 30px 30px 0;
    }
  }
  
  .search .form-control, .search .btn {
    border: 0;
    box-shadow: none !important;
    outline: none !important;
    height: auto;
    background: none !important;
  }
  
  .search .form-control {
    padding: 17px 0;
    opacity: 0;
    -webkit-transition: opacity .3s;
    transition: opacity .3s;
    font-size: 11px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, sans-serif;
  }
  
  .search .form-control:focus {
    opacity: 1;
  }
  
  .search .btn {
    padding: 8px 0 13px !important;
    font-size: 24px;
    color: #000 !important;
  }
  
  .search:hover .form-control {
    opacity: 1;
  }
  
  @media screen and (max-width: 992px) {
    .search {
      margin-top: 20px;
      background: #f5f5f5;
      padding: 3px 20px 0;
    }
  }
  
  /*
    02. Navigation
  */
  ul.navigation {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 17px;
    font-weight: 300;
    position: relative;
    z-index: 100;
  }
  
  ul.navigation li {
    padding: 0;
    margin: 0;
    display: inline-block;
    position: relative;
  }
  
  ul.navigation li a {
    display: block;
    padding: 15px 0;
    margin: 0 13px;
    color: #000;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, sans-serif;
    font-size: 14px;
    -webkit-transition: all .3s;
    transition: all .3s;
  }
  
  ul.navigation li a:hover, ul.navigation li a.active {
    color: #F77432;
    text-decoration: none;
  }
  
  ul.navigation li ul.dropdown {
    max-height: 0;
    overflow: hidden;
    position: absolute;
    text-align: left;
    padding: 0;
    z-index: 100;
    width: 200px;
    list-style: none;
    opacity: 0;
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
    -webkit-transition: opacity .3s .3s, -webkit-transform .3s .3s;
    transition: opacity .3s .3s, -webkit-transform .3s .3s;
    transition: opacity .3s .3s, transform .3s .3s;
    transition: opacity .3s .3s, transform .3s .3s, -webkit-transform .3s .3s;
  }
  
  ul.navigation li ul.dropdown li {
    display: block;
  }
  
  ul.navigation li ul.dropdown li a {
    padding: 0 15px;
    display: block;
    margin: 5px 0;
    font-size: 11px;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
  
  ul.navigation li:hover ul.dropdown {
    opacity: 1;
    padding: 10px 0 20px;
    max-height: 9999px;
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-transition: opacity .7s, -webkit-transform .3s;
    transition: opacity .7s, -webkit-transform .3s;
    transition: opacity .7s, transform .3s;
    transition: opacity .7s, transform .3s, -webkit-transform .3s;
  }
  
  @media screen and (max-width: 992px) {
    ul.navigation {
      margin-top: 0;
      padding: 0;
      position: relative;
      -webkit-transition: all .3s;
      transition: all .3s;
    }
    ul.navigation li {
      max-height: 0;
      overflow: hidden;
      display: block;
      -webkit-transition: all .3s;
      transition: all .3s;
    }
    ul.navigation li a {
      opacity: 0;
    }
    ul.navigation li a:hover, ul.navigation li a.active {
      color: #fff !important;
      opacity: .5;
    }
    ul.navigation li ul.dropdown {
      display: block;
      margin: 0;
      padding: 0;
      max-height: 0;
      overflow: hidden;
      opacity: 0;
      -webkit-transition: all .7s;
      transition: all .7s;
    }
    ul.navigation li ul.dropdown li {
      -webkit-transition: all .3s;
      transition: all .3s;
    }
    ul.navigation:before {
      content: '';
      position: absolute;
      bottom: 100%;
      left: 50%;
      margin-left: 0;
      border-color: transparent transparent #F77432 transparent;
      height: 0;
      border-width: 0;
      border-style: solid;
      -webkit-transition: all .3s;
      transition: all .3s;
      opacity: 0;
    }
    ul.navigation.tapped {
      background: #F77432;
      padding: 30px;
      margin-top: 50px;
    }
    ul.navigation.tapped:before {
      border-width: 10px;
      margin-left: -10px;
      opacity: 1;
    
    }
    ul.navigation.tapped li {
      max-height: 400px;
    }
    ul.navigation.tapped li a {
      color: #fff;
      opacity: 1;
    }
    ul.navigation.tapped li a:hover, ul.navigation.tapped li a.active {
      opacity: .5;
    }
    ul.navigation.tapped li ul.dropdown {
      position: relative;
      text-align: center;
      width: 100%;
    }
    ul.navigation.tapped li ul.dropdown li {
      margin: 20px 0;
    }
    ul.navigation.tapped li.tapped ul.dropdown {
      -webkit-transition: all .7s;
      transition: all .7s;
      opacity: 1;
      max-height: 400px;
    }
  }
  
  @media screen and (max-width: 992px) {
    .nav-trigger {
      display: block;
      width: 45px;
      margin: 30px auto 0;
      cursor: pointer;
      -webkit-transition: all .3s;
      transition: all .3s;
    }
    .nav-trigger .bar {
      height: 1px;
      background: #F77432;
      width: 45px;
      margin: 8px 0;
      -webkit-transition: all .3s;
      transition: all .3s;
    }
    .nav-trigger.tapped {
      margin-top: 45px;
    }
    .nav-trigger.tapped .bar {
      margin: 0;
    }
    .nav-trigger.tapped .bar:nth-child(1) {
      -webkit-transform: rotate(45deg);
              transform: rotate(45deg);
    }
    .nav-trigger.tapped .bar:nth-child(2) {
      opacity: 0;
    }
    .nav-trigger.tapped .bar:nth-child(3) {
      margin-top: -1px;
      -webkit-transform: rotate(-45deg);
              transform: rotate(-45deg);
    }
  }
  
  /*
    03. Hero
  */
  .hero {
    padding: -20ppx 0 100px;
    position: relative;
    z-index: 2;
  }
  
  @media screen and (max-width: 768px) {
    .hero {
      font-size: 12px;
      padding: 30px 30px 0;
    }
    .hero h1 {
      font-size: 3.5em;
      color: #000;
    }
  }
  
  /*
    04. The grid
  */
  .grid {
    -webkit-transition: all .3s;
    transition: all .3s;
    position: relative;
  }
  
  .grid.masonry .item {
    width: 50%;
    display: block;
    text-decoration: none;
    position: relative;
    overflow: hidden;
  }
  
  .grid.masonry .item .thumb {
    background: #F77432;
  }
  
  @media screen and (max-width: 992px) {
    .grid.masonry .item .thumb {
      background: none;
    }
  }
  
  .grid.masonry .item .thumb img {
    width: 100%;
  }
  
  .grid.masonry .item .thumb:before {
    content: '\f3d6';
    display: block;
    color: #fff;
    position: absolute;
    top: 25px;
    left: -30px;
    font-size: 36px;
    line-height: 1;
    font-family: 'Ionicons';
    opacity: 0;
    -webkit-transition: all .3s .1s;
    transition: all .3s .1s;
  }
  
  .grid.masonry .item .caption {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    -webkit-transition: opacity .3s .1s;
    transition: opacity .3s .1s;
    padding: 30px;
  }
  
  .grid.masonry .item .caption .tag {
    font-family: "Montserrat", "Helvetica Neue", Helvetica, sans-serif;
    font-size: 13px;
  }
  
  .grid.masonry .item .caption * {
    color: #fff;
  }
  
  @media screen and (max-width: 992px) {
    .grid.masonry .item .caption {
      position: relative;
      opacity: 1;
      padding: 0 0 30px;
    }
    .grid.masonry .item .caption * {
      color: #000;
    }
  }
  
  @media screen and (min-width: 992px) {
    .grid.masonry .item:hover .thumb img {
      opacity: .1;
    }
    .grid.masonry .item:hover .thumb:before {
      opacity: 1;
      left: 30px;
      -webkit-transition: all .3s .2s;
      transition: all .3s .2s;
    }
    .grid.masonry .item:hover .caption {
      opacity: 1;
      -webkit-transition: opacity .3s .2s;
      transition: opacity .3s .2s;
    }
  }
  
  .grid.classic .item {
    width: 50%;
    display: block;
    padding-bottom: 50px;
    text-decoration: none;
    overflow: hidden;
  }
  
  @media screen and (max-width: 992px) {
    .grid.classic .item {
      padding-bottom: 30px;
    }
  }
  
  .grid.classic .item .thumb {
    background: #F77432;
    position: relative;
    overflow: hidden;
  }
  
  @media screen and (max-width: 992px) {
    .grid.classic .item .thumb {
      background: none;
    }
  }
  
  .grid.classic .item .thumb img {
    width: 100%;
    -webkit-transition: opacity .3s;
    transition: opacity .3s;
  }
  
  .grid.classic .item .thumb .btn {
    position: absolute;
    left: 0;
    bottom: -40px;
    opacity: 0;
    background: #F77432;
    z-index: 3;
    -webkit-transition: all .3s;
    transition: all .3s;
  }
  
  .grid.classic .item .caption {
    text-align: center;
    padding: 20px;
  }
  
  @media screen and (max-width: 992px) {
    .grid.classic .item .caption {
      padding-top: 10px;
    }
  }
  
  .grid.classic .item .caption h3, .grid.classic .item .caption h4 {
    margin-bottom: 14px;
    color: #000;
    -webkit-transition: color .3s;
    transition: color .3s;
  }
  
  .grid.classic .item .caption .tag {
    color: #555;
    font-weight: 300;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, sans-serif;
    font-size: 13px;
  }
  
  .grid.classic .item:hover h3, .grid.classic .item:hover h4 {
    color: #F77432;
  }
  
  .grid.classic .item:hover .thumb img {
    opacity: .5;
  }
  
  .grid.classic .item:hover .thumb .btn {
    opacity: 1;
    bottom: 0;
  }
  
  .grid.col-4 .item {
    width: 25%;
  }
  
  .grid.col-4 .item .caption {
    text-align: left;
    padding-left: 0;
  }
  
  .fadein {
    opacity: .3;
    -webkit-transition: opacity 1s .4s;
    transition: opacity 1s .4s;
  }
  
  .fadein.in-view {
    opacity: 1;
  }
  
  @media screen and (max-width: 992px) {
    .item {
      width: 50% !important;
    }
  }
  
  @media screen and (max-width: 768px) {
    .item {
      width: 100% !important;
    }
  }
  
  /*
    05. Grid Filters
  */
  .filter-container {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 1000;
    display: none;
    cursor: url(../images/ui/cursor.png), auto;
  }
  
  .filter-container .inner {
    display: table;
    position: absolute;
    height: 100%;
    width: 300px;
  }
  
  @media screen and (max-width: 768px) {
    .filter-container .inner {
      width: 100%;
    }
    .filter-container .inner ul.filters {
      background: rgba(255, 255, 255, 0.9);
      text-align: center;
    }
  }
  
  .filter-container ul.filters {
    list-style: none;
    padding: 0;
    margin-top: 100px;
    display: table-cell;
    vertical-align: middle;
  }
  
  .filter-container ul.filters li {
    display: block;
    margin: 0;
  }
  
  .filter-container ul.filters li a.filter {
    opacity: .4;
    display: block;
    color: #555;
    font-size: 36px;
    font-weight: 300;
    text-decoration: none;
    -webkit-transition: all .3s;
    transition: all .3s;
  }
  
  .filter-container ul.filters li a.filter:hover, .filter-container ul.filters li a.filter.active {
    color: #F77432;
    opacity: 1;
  }
  
  .container-fluid {
    -webkit-transition: all .5s;
    transition: all .5s;
  }
  
  body.filters-active {
    overflow: hidden;
  }
  
  body.filters-active .grid {
    -webkit-transform: scale(0.5) translateY(-40%);
            transform: scale(0.5) translateY(-40%);
    filter: none;
    -webkit-filter: blur(0px);
    -moz-filter: blur(0px);
    -ms-filter: blur(0px);
    filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='0');
  }
  
  body.filters-active header, body.filters-active section, body.filters-active footer, body.filters-active .filter-trigger {
    opacity: 0;
    -webkit-transition: all .3s;
    transition: all .3s;
  }
  
  body.filters-active header.grid-container, body.filters-active section.grid-container, body.filters-active footer.grid-container, body.filters-active .filter-trigger.grid-container {
    opacity: 1;
  }
  
  /*
    06. Boxes
  */
  .box {
    padding: 60px 80px;
  }
  
  @media screen and (max-width: 768px) {
    .box {
      padding: 15px 0;
    }
  }
  
  pre {
    background: #f5f5f5;
    border-radius: 0;
    border: 0;
    padding: 20px;
  }
  
  /*
    07. Blog
  */
  a.item .btn-secondary {
    padding: 0 0 4px;
    -webkit-transition: all .3s;
    transition: all .3s;
    font-size: 13px;
    color: #F77432;
    text-transform: uppercase;
  }
  
  a.item .btn-secondary span:first-child {
    max-width: 0;
    opacity: 0;
    overflow: hidden;
    display: inline-block;
    -webkit-transition: all .3s;
    transition: all .3s;
    line-height: 1.8;
  }
  
  a.item .btn-secondary span:last-child {
    padding-top: 3px;
    font-size: 36px;
    display: inline-block;
    line-height: 1;
  }
  
  a.item:hover .btn-secondary {
    padding: 0 20px 4px;
    background: #F77432;
    color: #fff;
  }
  
  a.item:hover .btn-secondary span:first-child {
    opacity: 1;
    max-width: 200px;
    padding-right: 20px;
  }
  
  .content {
    position: relative;
    z-index: 1;
  }
  
  .content .search {
    background: #fff;
  }
  
  .content .search .form-control {
    opacity: 1;
    line-height: 1.6;
    padding: 18px 20px 10px;
  }
  
  .content .search .btn {
    padding: 10px 19px 7px;
  }
  
  @media screen and (max-width: 768px) {
    .content .search .form-control {
      padding: 15px 5px 10px;
    }
    .content .search .btn {
      padding: 8px 0 8px;
    }
  }
  
  aside {
    background: #f5f5f5;
    position: relative;
  }
  
  aside:before {
    z-index: -1;
    content: '';
    display: block;
    width: 500%;
    position: absolute;
    right: -300%;
    top: -1000px;
    bottom: -250px;
    background: #f5f5f5;
  }
  
  @media screen and (max-width: 992px) {
    aside {
      padding: 30px;
    }
    aside:before {
      display: none;
    }
  }
  
  .comments {
    margin: 0 0 20px;
  }
  
  .comments .comment {
    margin: 15px 0;
    position: relative;
  }
  
  .comments .comment .thumb {
    margin-top: 5px;
    max-width: 55px;
  }
  
  @media screen and (max-width: 768px) {
    .comments .comment .thumb {
      margin: 0 auto;
    }
  }
  
  .comments .comment a {
    position: absolute;
    right: 0;
    top: 37px;
    display: block;
    z-index: 2;
    color: #000;
    opacity: 0;
    -webkit-transition: all .3s;
    transition: all .3s;
  }
  
  .comments .comment a .fa-reply {
    margin-left: 5px;
  }
  
  .comments .comment:hover a {
    opacity: 1;
  }
  
  .comments .comment .details {
    margin-bottom: 20px;
  }
  
  .comments .comment .details .date {
    font-family: "Montserrat", "Helvetica Neue", Helvetica, sans-serif;
    font-size: 12px;
  }
  
  @media screen and (max-width: 768px) {
    .comments .comment .details {
      text-align: center;
    }
  }
  
  @media screen and (max-width: 768px) {
    .comments .comment .comment {
      padding: 0 20px;
      border-left: 1px solid #f5f5f5;
    }
    .comments .comment .comment p:last-child {
      margin-bottom: 0;
    }
  }
  
  .comments .comment .comment .details {
    margin-bottom: 10px;
  }
  
  /*
    08. Buttons
  */
  .btn {
    border-radius: 0;
    border: 0;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, sans-serif;
    font-size: 13px;
  }
  
  .btn.btn-default, .btn.btn-color {
    background: #92dbdf;
    color: #fff;
    text-transform: uppercase;
    font-weight: 400;
    padding: 16px 25px 15px;
    -webkit-transition: background .3s;
    transition: background 0.3s;
    font-size: 13px;
  }
  
  .btn.btn-default:hover, .btn.btn-default:focus, .btn.btn-default:active, .btn.btn-color:hover, .btn.btn-color:focus, .btn.btn-color:active {
    background: #F77432;
    color: #fff;
  }
  
  .btn.btn-color, .btn.active {
    background: #F77432;
  }
  
  /*
    09. Footer
  */
  footer {
    margin-top: 50px;
    padding: 50px 0;
  }
  
  @media screen and (max-width: 992px) {
    footer {
      margin-top: 0;
      padding-top: 20px;
    }
  }
  
  footer.bottom {
    background: #f5f5f5;
    padding-top: 100px;
    margin-top: 0;
    font-weight: 300;
    color: #999;
  }
  
  footer.bottom a {
    color: #000;
  }
  
  @media screen and (max-width: 992px) {
    footer.bottom {
      padding-top: 50px;
    }
  }
  
  .social-links {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .social-links li {
    display: inline-block;
    padding: 0;
    margin: 0;
  }
  
  .social-links li a {
    color: #000;
    margin: 10px 15px;
    text-decoration: none;
    -webkit-transition: color .3s;
    transition: color .3s;
  }
  
  .social-links li a:hover {
    color: #F77432;
  }
  
  /*
    10. Forms
  */
  .form .tag {
    color: #555;
    font-weight: 400;
    margin-bottom: 10px;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, sans-serif;
    font-size: 13px;
  }
  
  .form .form-control {
    background: #f5f5f5;
    border-radius: 0;
    border: 0;
    box-shadow: none;
    padding: 15px;
    height: auto;
    font-size: 16px;
    margin-bottom: 20px;
    font-family: "Playfair Display", "Times New Roman", serif;
  }
  
  .form .form-control:focus {
    background: #000;
    color: #fff;
  }
  
  .form textarea.form-control {
    height: 150px;
  }
  
  .form span {
    color: #555;
    font-weight: 300;
  }
  
  @media screen and (max-width: 768px) {
    .form span {
      display: block;
      padding: 10px 0 0 !important;
    }
  }
  
  /*
    11. Images
  */
  /*
    12. Labels
  */
  .label {
    border: 2px solid rgba(85, 85, 85, 0.6);
    padding: 8px 11px 7px;
    color: #555;
    display: inline-block;
    border-radius: 0;
    float: left;
    font-weight: 400;
    font-size: 1em;
    margin: 0 2px 0 0;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, sans-serif;
    font-size: 12px;
  }
  
  .label:hover {
    color: #F77432 !important;
    border-color: #F77432;
  }
  
  /*
    13. Lists
  */
  ul.label-list {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  ul.label-list li {
    margin: 10px 0;
    font-size: 16px;
    color: #555;
    font-weight: 300;
  }
  
  @media screen and (max-width: 768px) {
    ul.label-list {
      margin-bottom: 50px;
    }
  }
  
  ul.item-list {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  ul.item-list li {
    margin: 12px 0;
  }
  
  ul.item-list li a, ul.item-list li span {
    color: #000;
    font-size: 1.2em;
    width: 100%;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
    padding-left: 35px;
    text-decoration: none;
    -webkit-transition: all .3s;
    transition: all .3s;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 400;
  }
  
  @media screen and (max-width: 1200px) {
    ul.item-list li a, ul.item-list li span {
      width: 100%;
    }
  }
  
  ul.item-list li a:before, ul.item-list li span:before {
    content: '';
    border-top: 1px solid rgba(100, 100, 100, 0.15);
    -webkit-transition: all .3s;
    transition: all .3s;
    width: 20px;
    height: 1px;
    margin-top: -1px;
    left: 0;
    display: block;
    position: absolute;
    top: 50%;
  }
  
  ul.item-list li a:hover, ul.item-list li span:hover {
    color: #F77432;
    padding-left: 45px;
  }
  
  ul.item-list li a:hover:before, ul.item-list li span:hover:before {
    border-color: #F77432;
    width: 30px;
  }
  
  ul.tag-list {
    list-style: none;
    margin: 0;
    padding: 0;
    clear: both;
    float: none;
  }
  
  ul.tag-list li {
    display: inline-block;
    padding: 0;
    margin: 0;
  }
  
  /*
    14. Pagination
  */
  .pagination {
    background: #f5f5f5;
    width: 100%;
    text-align: center;
    border-radius: 0;
  }
  
  @media screen and (max-width: 768px) {
    .pagination a {
      display: none;
    }
  }
  
  .pagination .previous, .pagination .next {
    font-size: 36px;
    padding: 7px 15px 0;
    margin: 0;
    height: 49px;
    line-height: 1;
    display: block;
    color: #000;
    -webkit-transition: all .3s;
    transition: all .3s;
  }
  
  .pagination .previous.disabled, .pagination .next.disabled {
    opacity: .2;
  }
  
  .pagination .previous.disabled:hover, .pagination .next.disabled:hover {
    background: none;
    color: #000;
    cursor: not-allowed;
  }
  
  .pagination .previous:hover, .pagination .next:hover {
    background: #F77432;
    color: #fff;
  }
  
  .toggleContainer {
    position: fixed;
    right: -100px;
    width: 200px;
    bottom: 0;
    -webkit-transition: all .3s;
    transition: all .3s;
    z-index: 99999;
    padding-left: 100px;
    padding-bottom: 40px;
  }
  
  .toggleContainer .container-caption {
    position: absolute;
    right: 170px;
    bottom: 0;
    margin-bottom: -15px;
    -webkit-transition: all .3s;
    transition: all .3s;
  }
  
  .toggleContainer .toggle-container-btn {
    font-size: 42px;
    left: -60px;
    width: 80px;
    -webkit-transition: all .3s;
    transition: all .3s;
    position: relative;
    cursor: pointer;
  }
  
  .toggleContainer .option {
    position: relative;
    font-size: 32px;
    width: 40px;
    text-align: center;
    cursor: pointer;
    -webkit-transition: all .3s;
    transition: all .3s;
  }
  
  .toggleContainer .option span {
    position: absolute;
    right: -100%;
    padding-right: 10px;
    text-align: right;
    font-size: 11px;
    width: 100px;
    opacity: 0;
    -webkit-transition: all .3s;
    transition: all .3s;
    line-height: 42px;
  }
  
  .toggleContainer:hover .container-caption {
    margin-bottom: 65px;
  }
  
  .toggleContainer.active {
    right: -60px;
  }
  
  .toggleContainer.active .container-caption {
    margin-bottom: 65px;
    right: 130px;
  }
  
  .toggleContainer.active .toggle-container-btn {
    left: -20px;
  }
  
  .toggleContainer.active .option {
    left: -25px;
  }
  
  .toggleContainer.active .option span {
    opacity: 1;
    right: 100%;
    -webkit-transition: all .3s;
    transition: all .3s;
  }
  
  .toggleContainer.active .option:hover, .toggleContainer.active .option.active {
    -webkit-transition: all .3s;
    transition: all .3s;
    color: #F77432;
  }
  